/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #0078d4;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Seções das Aulas */
.course-section {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.course-title {
    color: #0078d4;
    margin-bottom: 1rem;
}

.course-description {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.6;
}

.course-section ul {
    list-style-type: none;
    margin-bottom: 1.5rem;
}

.course-section ul li {
    background: #f4f4f4;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
}

.course-video button {
    background: #0078d4;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.course-video button:hover {
    background: #005a9e;
    transform: translateY(-5px);
}

.course-video button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.course-video iframe {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background: #0078d4;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}